body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}

h1, h2, h3{
    color: ghostwhite;
    text-decoration: dotted;
    text-decoration: solid;
    font-size: large;
}

.sajt{
    color: blanchedalmond;
}
